// @import '../lib/variables';
@import '../components/btn';

.navbar {
    background-color: $navBg;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo {
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        padding: 16px 0;  
    }
    &_menu {
        display: flex;
        // color: white;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        font-weight: 500;
        @include mobile {
            display: none;
        }
    } 
    &_item {
        list-style: none;
        cursor: pointer;
        &:hover {
            color: $nav_menu_hover;
        }
    }
    .mobile_menu {
        display: none;
        padding: 5px 10px;
        // border-radius: 5px;
        // border: 0;
        // outline: none;
        // font-size: 14px;
        // font-weight: 600;
        // background: $nav_menu_hover;
        @include btn($nav_menu_hover, $black, 14px);
        @include mobile {
            display: block;
        }
    }
}

.gynLogo{
    color: $nav_menu_hover;
}