
@import '../components/btn';

nav {
    background-color: $navBg;
}
.navbar {

    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo {
        font-size: 1.8rem;
        font-weight: 600;
        text-decoration: none;
        padding: 16px 0;  
    }
    &_menu {
        display: flex;
        // color: white;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        font-weight: 500;
        @include mobile {
            display: none;
        }
    } 
    &_item {
        list-style: none;
        cursor: pointer;
        &:hover {
            color: $nav_menu_hover;
        }
    }
    .mobile_menu {
        display: none;
        padding: 5px 8px;
        justify-content: center;
        align-items: center;
        @include btn($nav_menu_hover, $black, 20px);
        @include mobile {
            display: flex;
        }
    }
}

.gynLogo{
    color: $nav_menu_hover;
}