* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  background-color: #27262B;
}

.navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_logo {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  padding: 16px 0;
}
.navbar_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-weight: 500;
}
@media screen and (max-width: 460px) {
  .navbar_menu {
    display: none;
  }
}
.navbar_item {
  list-style: none;
  cursor: pointer;
}
.navbar_item:hover {
  color: #FFCE25;
}
.navbar .mobile_menu {
  display: none;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FFCE25;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 4px;
}
.navbar .mobile_menu:hover {
  background: #000;
  color: #FFCE25;
}
@media screen and (max-width: 460px) {
  .navbar .mobile_menu {
    display: block;
  }
}

.gynLogo {
  color: #FFCE25;
}

.hero {
  background: url("../../assests/heroBG.jpg") no-repeat center center/cover;
  min-height: calc(100vh - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.hero .hero_title {
  margin-bottom: 1rem;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 4px;
}
@media screen and (max-width: 460px) {
  .hero .hero_title {
    font-size: 40px;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .hero .hero_title {
    font-size: 60px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero .hero_title {
    font-size: 65px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1520px) {
  .hero .hero_title {
    font-size: 80px;
  }
}
.hero .hero_text {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: rgba(255, 255, 255, 0.7019607843);
  width: 90%;
  margin: 0 auto 2rem;
}
@media screen and (max-width: 460px) {
  .hero .hero_text {
    font-size: 24px;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .hero .hero_text {
    font-size: 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero .hero_text {
    font-size: 32px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1520px) {
  .hero .hero_text {
    font-size: 36px;
  }
}
.hero .hero_btn {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FFCE25;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero .hero_btn:hover {
  background: #000;
  color: #FFCE25;
}
@media screen and (max-width: 460px) {
  .hero .hero_btn {
    border: none;
    outline: none;
    border-radius: 5px;
    background: #FFCE25;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 4px;
  }
  .hero .hero_btn:hover {
    background: #000;
    color: #FFCE25;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .hero .hero_btn {
    border: none;
    outline: none;
    border-radius: 5px;
    background: #FFCE25;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 4px;
  }
  .hero .hero_btn:hover {
    background: #000;
    color: #FFCE25;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 120px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0 80px;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 460px) {
  .container {
    padding: 0 20px;
  }
}/*# sourceMappingURL=style.css.map */