// library
@import './lib/reset';
@import './lib/variables';
@import './lib/media-queries';

// section
@import './section/navbar';
@import './section/hero';
@import './section/welcome';

// components
@import './components/btn';



body{
    font-family: 'Poppins', sans-serif;
}

// responsive container
.container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 120px;
    @include laptop{
        padding: 0 80px;
    }
    @include tablet{
        padding: 0 40px;
    }
    @include mobile{
        padding: 0 20px;
    }

}