* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  background-color: #27262B;
}

.navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_logo {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  padding: 16px 0;
}
.navbar_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-weight: 500;
}
@media screen and (max-width: 460px) {
  .navbar_menu {
    display: none;
  }
}
.navbar_item {
  list-style: none;
  cursor: pointer;
}
.navbar_item:hover {
  color: #FFCE25;
}
.navbar .mobile_menu {
  display: none;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FFCE25;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 4px;
}
.navbar .mobile_menu:hover {
  background: #000;
  color: #FFCE25;
}
@media screen and (max-width: 460px) {
  .navbar .mobile_menu {
    display: flex;
  }
}

.gynLogo {
  color: #FFCE25;
}

.hero {
  background: url("../../assests/heroBG.jpg") no-repeat center center/cover;
  min-height: calc(100vh - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.hero .hero_title {
  margin-bottom: 1rem;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 4px;
}
@media screen and (max-width: 460px) {
  .hero .hero_title {
    font-size: 40px;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .hero .hero_title {
    font-size: 60px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero .hero_title {
    font-size: 65px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1520px) {
  .hero .hero_title {
    font-size: 80px;
  }
}
.hero .hero_text {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: rgba(255, 255, 255, 0.7019607843);
  width: 90%;
  margin: 0 auto 2rem;
}
@media screen and (max-width: 460px) {
  .hero .hero_text {
    font-size: 24px;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .hero .hero_text {
    font-size: 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero .hero_text {
    font-size: 32px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1520px) {
  .hero .hero_text {
    font-size: 36px;
  }
}
.hero .hero_btn {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FFCE25;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero .hero_btn:hover {
  background: #000;
  color: #FFCE25;
}
@media screen and (max-width: 460px) {
  .hero .hero_btn {
    border: none;
    outline: none;
    border-radius: 5px;
    background: #FFCE25;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 4px;
  }
  .hero .hero_btn:hover {
    background: #000;
    color: #FFCE25;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .hero .hero_btn {
    border: none;
    outline: none;
    border-radius: 5px;
    background: #FFCE25;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 4px;
  }
  .hero .hero_btn:hover {
    background: #000;
    color: #FFCE25;
  }
}

.welcome {
  padding: 5rem 0;
}
.welcome_title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 55px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #27262B;
}
@media screen and (max-width: 460px) {
  .welcome_title {
    font-size: 32px;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .welcome_title {
    font-size: 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .welcome_title {
    font-size: 45px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1520px) {
  .welcome_title {
    font-size: 50px;
  }
}
.welcome_text {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7019607843);
  width: 90%;
  margin: 0 auto 2rem;
}
@media screen and (max-width: 460px) {
  .welcome_text {
    font-size: 14px;
    width: 100%;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .welcome_text {
    font-size: 16px;
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .welcome_text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1520px) {
  .welcome_text {
    font-size: 18px;
  }
}
.welcome_card {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 460px) {
  .welcome_card {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .welcome_card {
    flex-wrap: wrap;
    gap: 50px;
  }
}
.welcome_card .card {
  min-width: 300px;
  width: 100%;
  padding: 20px;
  border: 2px solid rgba(128, 128, 128, 0.611);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 460px) {
  .welcome_card .card {
    width: 250px;
    height: 250px;
  }
}
.welcome_card .card_icon {
  font-size: 40px;
  background: #27262B;
  padding: 8px 12px;
  border-radius: 100%;
  color: #fff;
  margin-top: -50px;
}
@media screen and (max-width: 460px) {
  .welcome_card .card_icon {
    font-size: 40px;
  }
}
.welcome_card .card_title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #FFCE25;
}
@media screen and (max-width: 460px) {
  .welcome_card .card_title {
    font-size: 20px;
  }
}
.welcome_card .card_text {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.86);
}
@media screen and (max-width: 460px) {
  .welcome_card .card_text {
    font-size: 14px;
  }
}

.title_divider {
  width: 100px;
  height: 3px;
  background: #FFCE25;
  margin: 0 auto 2rem;
}
@media screen and (max-width: 460px) {
  .title_divider {
    width: 50px;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .title_divider {
    width: 70px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .title_divider {
    width: 80px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1520px) {
  .title_divider {
    width: 90px;
  }
}

.footer_content {
  display: flex;
  padding: 50px 0 0;
}
@media screen and (max-width: 460px) {
  .footer_content {
    flex-direction: column;
  }
}
.footer_content .footer_contact_us {
  padding: 50px;
  background-color: #27262B;
  flex: 1;
  display: flex;
  justify-content: end;
  justify-items: center;
}
@media screen and (max-width: 460px) {
  .footer_content .footer_contact_us {
    text-align: center;
    justify-content: center;
  }
}
.footer_content .footer_contact_us div {
  text-align: center;
  color: rgba(255, 255, 255, 0.707);
  line-height: 30px;
}
.footer_content .footer_follow_us {
  background-color: #000;
  padding: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
@media screen and (max-width: 460px) {
  .footer_content .footer_follow_us {
    text-align: center;
  }
}
.footer_content .footer_follow_us .footer_social_item {
  color: rgba(255, 255, 255, 0.707);
  font-size: 30px;
}
.footer_content .footer_follow_us p {
  color: rgba(255, 255, 255, 0.707);
  font-size: 20px;
  margin-bottom: 20px;
}
.footer_content .footer_follow_us .icon_container {
  display: flex;
  justify-content: start;
  justify-items: center;
  margin-bottom: 20px;
  gap: 10px;
  padding-top: 10px;
}
@media screen and (max-width: 460px) {
  .footer_content .footer_follow_us .icon_container {
    justify-content: center;
  }
}

.footer_title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.footer_copy_right {
  background-color: #151515;
  padding: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.507);
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 460px) {
  .footer_copy_right {
    font-size: 14px;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 120px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0 80px;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 460px) {
  .container {
    padding: 0 20px;
  }
}/*# sourceMappingURL=style.css.map */